@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,700&display=swap');
* {
	margin: 0;
	padding: 0;
	color: aliceblue;
	box-sizing: border-box;
	font-size: 20px;
	font-family: 'Noto Sans HK', sans-serif;
}

body {
	background: black;
}

.container {
	width: 980px;
	margin: auto;
	background: rgba(104, 132, 165, 1);
}

header{
	display: flex;
}

.headerItem {
	border: 1px solid black;
	width: 20%;
	height: 80px;
	padding: 10px 10px;
}
.headerItem:hover{
	background-color: cadetblue;
}
.headerItemSecond,
.headerItemThird,
.headerItemFours,
.headerItemFives {
	display: flex;
}

.headerItemFours,
.headerItemFives {
	align-items: center;
}

.dash {
	width: 20px;
}

.arrowDown {
	height: 40px;
	width: 20px;
	padding-left: 5px;
}

.img {
	background: url(img/bg.png) no-repeat;
	background-size: cover;
	height: 300px;
}

.thirdBlock {
	display: flex;
	background: rgba(121,146,182,0.8);
}

.thirdBlockItem {
	width: 25%;
	margin: auto;
	text-align: center;
}

.thirdBlock + div {
	flex-grow: 2;
}

.dot {
	color: aqua;
	padding-left: 20px;
}

.alarms {
	display: flex;
	justify-content: space-between;
	padding: 0 60px;
	height: 110px;
	align-items: center;
	font-weight: bold;
}
.fivesBlock{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.fivesBlockFirstUp,
.fivesBlockFirstDown,
.fivesBlockSecondUp,
.fivesBlockSecondDown {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: rgba(121,146,182,0.8);
	margin: 10px;
}
.next{
	line-height: 2px;
}
.fivesBlockFirst,
.fivesBlockSecond{
	width: 50%;
}
.fivesBlockSpan{
	color: lightgrey;
	font-size: 0.8em;
}
.schedule{
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	padding: 0 30px 0 30px;
}
.rendezvous{
	display: flex;
	justify-content: space-around;
	padding: 10px 30px;
}
.rendezvousOne{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.rendezvousThree{
	width: 60%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	
}
.rendezvousThreeItem{
	display: flex;
	justify-content: space-between;
}
.rendezvous p{
	color: darkgray;
}
.rendezvousOne p{
	color: aliceblue;
}
.approach{
	display: flex;
	padding: 10px 30px;
}
.approachOne, .approachTwo{
	width: 50%;
	background: rgba(121,146,182,0.8);
	margin: 0 5px;
	padding: 0 10px;
}
.table{
	display: flex;
	flex-direction: column;
}
.tr{
	display: flex;
}
.td{
	width: 98px;
	background-color: rgba(121,146,182,0.8);
	margin: 2px;
}
.footerFirst{
	height: 40px;
}
.footerFirst div{
	width: 30%;
	background: aqua;
	height: 100%;
	margin-top: 5px;
}
.allSystems{
	padding: 30px 10px;
	font-weight: bold;
}
.pressureFlex{
	display: flex;
}
.pressureFlex div{
	width: 20%;
	background-color: rgba(121,146,182,0.8);
	margin-right: 10px;
	padding: 10px;
	text-align: center;
}
.pressureFlex span{
	color: aqua;
}
.imgSecond img{
	width: 100%;
}
.computerFlex{
	display: flex;
	margin-top: 10px;
}
.computerFlex div img{
	width: 100%;
}
.comunication{
	margin-right: 10px;
}
.computerFlexMenu{
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;
}
.computerFlexMenu div{
	color: aquamarine;
}
.computerFlexMenu div:hover{
	cursor: grab;
}
.life{
	display: flex;
	font-weight: bold;
	justify-content: space-between;
	padding: 10px 20px;
}
.life div:hover{
	cursor: grabbing;
}
.lastOne img{
	width: 100%;
}
.ulFlex{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.ulFlex li{
	list-style: none;
	color: aqua;
}
.ulFlex li:hover{
	cursor: cell;
}
hr{
	border: none; 
	background-color: rgba(104, 152, 195, 1);
    height: 2px; 
	margin: 0 20px
}
.twoEm{
	font-size: 2em;
}
.threeEm{
	font-size: 3em;
}
.lightGrey{
	color: lightgray;
}
.aqua{
	color: aqua;
}