* {
	margin: 0;
	padding: 0;
	color: aliceblue;
	box-sizing: border-box;
	font-size: 20px
}

body {
	background: black;
}

.container {
	width: 980px;
	margin: auto;
	background: rgba(104, 132, 165, 1);
}

header{
	display: flex;
}

.headerItem {
	border: 1px solid black;
	width: 20%;
	height: 80px;
	padding: 10px 10px;
}
.headerItem:hover{
	background-color: cadetblue;
}
.headerItemSecond,
.headerItemThird,
.headerItemFours,
.headerItemFives {
	display: flex;
}

.headerItemFours,
.headerItemFives {
	align-items: center;
}

.dash {
	width: 20px;
}

.arrowDown {
	height: 40px;
	width: 20px;
	padding-left: 5px;
}

.img {
	background: url(img/bg.png) no-repeat;
	background-size: cover;
	height: 300px;
}

.thirdBlock {
	display: flex;
	background: rgba(104, 132, 179, 1);
}

.thirdBlockItem {
	width: 25%;
	margin: auto;
	text-align: center;
}

.thirdBlock + div {
	flex-grow: 2;
}

.dot {
	color: aqua;
	padding-left: 20px;
}

.alarms {
	display: flex;
	justify-content: space-between;
	padding: 0 60px;
	height: 150px;
	align-items: center;
}
.fivesBlock{
	display: flex;
	justify-content: space-between;
}
.fivesBlockFirstUp,
.fivesBlockFirstDown,
.fivesBlockSecondUp,
.fivesBlockSecondDown {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border: 1px solid white;
}
.fivesBlockFirst,
.fivesBlockSecond{
	width: 50%;
}
.schedule{
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	padding: 0 30px 0 30px;
}
.rendezvous{
	display: flex;
	justify-content: space-around;
	padding: 10px 30px;
}
.rendezvousOne{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.rendezvousThree{
	width: 60%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	
}
.rendezvousThreeItem{
	display: flex;
	justify-content: space-between;
}
.rendezvous p{
	color: darkgray;
}
.rendezvousOne p{
	color: aliceblue;
}
.approach{
	display: flex;
	padding: 10px 30px;
}
.approachOne, .approachTwo{
	width: 50%;
	background: rgba(104, 132, 195);
	margin: 0 5px;
	padding: 0 10px;
}
.table{
	display: flex;
	flex-direction: column;
}
.tr{
	display: flex;
}
.td{
	width: 98px;
	background-color: cadetblue;
	margin: 2px;
}
.footerFirst{
	height: 40px;
}
.footerFirst div{
	width: 30%;
	background: aqua;
	height: 100%;
	margin-top: 5px;
}